.khanoumi-carousel__indicators {
	display: none;
}

.khanoumi-carousel .slick-arrow {
	position: absolute;
	z-index: 9;
	transform: translateY(150px);
	background-color: transparent !important;
	color: black;
}

.khanoumi-carousel .slick-slider {
	direction: ltr;
}

.khanoumi-carousel__control-prev {
	left: -22px;
}

.khanoumi-carousel__control-next {
	right: -22px;
}

.khanoumi-carousel__item-image {
	object-fit: cover;
}

.khanoumi-carousel__item-container {
	direction: rtl;
}

.khanoumi-carousel__item-caption h3 {
	text-align: center;
	font-size: 16px;
}

.khanoumi-carousel__item-price {
	font-size: 14px;
	color: #cea554;
	float: right;
}

.khanoumi-carousel__item-view-more {
	float: left;
}

@media (max-width: 768px) {
	.khanoumi-carousel__control-prev {
		left: 10px;
	}

	.khanoumi-carousel__control-next {
		right: 10px;
	}
}
