/************/
/* Carousel */
/************/

.khanoumi-carousel {
	display: flex;
}

.khanoumi-carousel .slick-arrow {
	height: 100%;
	width: 10%;
	color: black;
	background-color: unset !important;
	border: unset !important;
	transform: translateY(150px);
	z-index: 9;
}

.khanoumi-carousel__content {
	max-width: 80%;
}

.khanoumi-carousel .slick-slider {
	direction: ltr;
}

.khanoumi-carousel__item-image {
	width: 400px;
	height: auto;
	margin: auto;
	object-fit: cover;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.khanoumi-carousel__item-image:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.khanoumi-carousel__item-container {
	direction: rtl;
	padding: 20px;
	text-align: center;
}

.khanoumi-carousel__item-caption h3 {
	text-align: center;
	font-size: 16px;
}

.khanoumi-carousel__item-price {
	font-size: 14px;
}

.khanoumi-carousel__item-price span,
.khanoumi-products-grid__item-price span {
	color: gray;
	text-decoration: line-through;
}

.khanoumi-carousel__item-button,
.khanoumi-products-grid__item-button {
	color: white;
	background-color: rgba(240, 150, 165, 0.9);
	transition: all 0.3s ease;
}

.khanoumi-carousel__item-button:hover,
.khanoumi-products-grid__item-button:hover {
	background: transparent !important;
	color: rgba(240, 150, 165, 0.9) !important;
	text-decoration: none;
}

@media (max-width: 768px) {
	.khanoumi-carousel__control-prev {
		left: 10px;
	}

	.khanoumi-carousel__control-next {
		right: 10px;
	}
}

/********/
/* Grid */
/********/

.khanoumi-products-grid__content {
	display: grid;
	width: 80%;
	margin: auto;
	grid-template-columns: auto auto auto auto;
	gap: 50px;
	justify-content: space-evenly;
	text-align: center;
	transition: transform .7s;
}

.khanoumi-products-grid__item {
	display: flex;
	position: relative;
	padding: 5px;
	align-items: end;
}

.khanoumi-products-grid__item:before {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
	z-index: 1;
}

.khanoumi-products-grid__item-container img {
	width: 100%;
	height: auto;
	opacity: 0.8;
	transition: 0.5s !important;
}

.khanoumi-products-grid__item:hover img {
	opacity: 1;
	transform: scale(1.6);
}

.khanoumi-products-grid__item-body {
	position: relative;
	z-index: 2;
}

.khanoumi-products-grid__item-caption h3 {
	text-align: center;
	font-size: 1em;
}