/********************/
/* Settings Wrapper */
/********************/

.kapp-tab-group {
	display: block;
	float: left;
	width: 100%;
	margin-top: 18px;
	padding: 6px;
	border-radius: 3px;
	overflow: hidden;
	background-color: transparent;
}

.kapp-tab {
	float: left;
	margin: 0;
	padding-right: 30px;
	width: 298px;
	background-color: transparent;
}

.rtl .kapp-tab {
	float: right;
	width: 312px;
	padding-right: 0;
	padding-left: 30px;
}

.kapp-tab li {
	position: relative;
	margin: 0;
}

.kapp-tab li .active {
	filter: unset;
	border-radius: 2px;
	box-shadow: 0px 2px 4px rgb(0 0 0 / 8%);
	opacity: 1;
	background: #FFFFFF;
}

.kapp-tab li a {
	display: flex;
	margin: 0 -1px 0px 0;
	padding: 13px 14px;
	color: #000000;
	align-items: center;
	font-weight: 600;
	font-size: 16px;
	text-decoration: none;
	line-height: 24px;
	letter-spacing: 0.02em;
	opacity: 0.5;
	transition: 0.2s;
}

.rtl .kapp-tab li a {
	margin: 0 0 0 -1px;
}

.kapp-tab-content {
	display: grid;
	min-height: 680px;
	margin: 0 6px 0 30px;
	padding: 21px 33px 6px;
	border-radius: 2px;
	box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
	background-color: #fff;
}

.rtl .kapp-tab-content {
	margin: 0 30px 0 0;
}

.kapp-tab-content tr.tr-header th {
	color: #ffffff;
	padding: 14px 12px 12px 12px;
	white-space: nowrap;
	background: #f0f0f1;
	font-weight: bold;
}

.kapp-tab-content tr th label {
	padding: 16px;
	color: #000000;
	white-space: nowrap;
}

/****************************/
/* Copy to Clipboard Button */
/****************************/

.shortcode-generator__shortcode-label {
	padding: 10px;
}

.shortcode-generator__shortcode-text {
	display: flex;
	position: relative;
	width: 40%;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 10px;
	background: #fff;
}

.shortcode-generator__shortcode-text.active button:before,
.shortcode-generator__shortcode-text.active button:after {
	display: block;
}

.shortcode-generator__shortcode-text input {
	width: 100%;
	padding: 5px;
	color: #555;
	font-size: 1.2em;
	border: none !important;
	outline: none !important;
}

.shortcode-generator__shortcode-text input:active,
.shortcode-generator__shortcode-text input:focus {
	outline: none !important;
	border-color: unset !important;
	box-shadow: unset !important;
}

.shortcode-generator__copy-button {
	margin: 0px 5px;
	padding: 10px;
	color: #fff;
	font-size: 1.2em;
	border: none;
	border-radius: 10px;
	outline: none;
	cursor: pointer;
	background: #5784f5;
}

.shortcode-generator__copy-button:before {
	display: none;
	position: absolute;
	top: -45px;
	padding: 8px 10px;
	border-radius: 20px;
	background: #5c81dc;
}

.shortcode-generator__copy-button:after {
	content: "";
	display: none;
	position: absolute;
	top: -20px;
	margin: 5px 25px;
	width: 10px;
	height: 10px;
	transform: rotate(45deg);
	background: #5c81dc;
}

.shortcode-generator__copy-button:active {
	background: #809ce2;
}
